<fieldset>
    <legend align="center">{{displayName}}'s profile</legend>
    <img src="{{photoURL}}" alt="{{displayName}}" class="img-thumbnail">
    <form class="form-horizontal container">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{displayName}}</p>
                </div>
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{email}}</p>
                </div>
            </div>
            <a href="#/editProfile" class="btn" id="editProfileBtn">Edit profile</a>
            <a href="#/changePassword" class="btn" id="changePasswordBtn">Change password</a>
        </div>
    </form>
</fieldset>